<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigationdrawer">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawer.NoActionBar">
        <activity
            android:name=".chat.NumberVerification"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".youtubechannel.YoutubeActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatHomeActivity"
            android:exported="true" />
        <activity
            android:name=".loginRegister.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginRegister.RegisterActivity" />
    </application>

</manifest>