<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kachisiapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawer.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.kachisiapp.notifications.AddNotification"
            android:exported="true"
            android:parentActivityName="com.example.kachisiapp.notifications.NotificationsActivity"/>
        <activity
            android:name="com.example.kachisiapp.people.PeopleActivity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.home.HomeDrawer"
            android:exported="true"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/Theme.NavigationDrawer.NoActionBar" />
        <activity
            android:name="com.example.kachisiapp.chat.OTP_activity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.notifications.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.chat.NumberVerification"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.youtubechannel.YoutubeActivity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.chat.ChatHomeActivity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.loginRegister.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.kachisiapp.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.kachisiapp.loginRegister.RegisterActivity" />
    </application>

</manifest>